<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Event Creator:</strong>
  <%= @event.user.name %>
</p>

<%= link_to 'Invite People', new_event_invite_path(@event) %><br />
<%= render 'invites/invitees', :invites => @event.invites %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>